body {
background-repeat: repeat-x;
background-color: #A4A4A4;
font-family: Verdana, Arial, "Century Gothic";
font-size: 12px;
color: #878787;
padding-top:10px;
padding-bottom:50px;
}

#container {
padding-top:15px;
background-image: url(images/ma-container.jpg);
margin: auto;
width: 1100px;
height:860px;
-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
-webkit-box-shadow: 10px 10px 5px #888888; /* Safari */
box-shadow: 10px 10px 5px #888888;
}

#follow
{
text-align:top;
float:left;
color:#009900;
padding-left:210px;
font-size:18px;
font-style: italic;
}

ul#list-nav {
list-style:none;
margin:20px;
padding:0;
width:1200px;
border-radius-left:13px;
}

ul#list-nav li {
display:inline
}
#blank
{
padding-left:200px;
padding-top:8px;
padding-bottom:8px;
padding-right:8px;
background:#009900;
color:#eee;
float:left;
font-size:15px;
}
ul#list-nav li a {
text-decoration:none;
padding:8px 0;
width:130px;
background:#009900;
color:#eee;
float:left;
font-size:15px;
text-align:center;

}

ul#list-nav li a:hover {
background:#a2b3a1;
color:#000
}
#content
{
padding-left:18px;
}
#form
{
border:0;
background-color:#CCCCCC;
color:#FFFFFF;
height:25px;
width:380px;
font-size:15px;
}
#submit
{
height:29px;
width:50px;
background-color:#FFFFFF;
color:#007B00;
font-size:21px;
border:0
}

#content-search label
{
color:#007B00;
font-size:18px;
padding-bottom:20px;
}
#content-search span
{
font-size:15px;
padding-left:7px;
}
#join
{
background-image: url(images/ma-join.jpeg);
width:414px;
height:84px;
padding-top:10px;
padding-left:16px;

}

#recent
{
color:#007B00;
font-size:20px;
font-weight:bold;
}

#footer
{
padding-left:10px;
padding-top:6px;
margin-left:3px;
background-image: url(images/ma-footer.jpg);
width:1040px;
height:27px;
}

#footer a
{

font-size:14px;
text-decoration:none;
color:#009900;

}

#certify 
{
font-style:italic;
text-decoration:none;
padding-left:620px;
padding-top:10px;
padding-bottom:10px;


}

















